Repository StackStorm/st2, pull requests merged in 2018-10, with the labels that each got.

#4382 Adding st2scheduler
  conf/logrotate.conf
  conf/st2.dev.conf
  conf/st2.package.conf
  conf/st2.prod.conf
  st2actions/bin/st2scheduler
  st2actions/conf/logging.scheduler.conf
  st2actions/conf/syslog.scheduler.conf
  st2actions/setup.py
  st2actions/st2actions/cmd/actionrunner.py
  st2actions/st2actions/cmd/scheduler.py
  st2actions/st2actions/scheduler/__init__.py
  st2actions/st2actions/scheduler/config.py
  st2actions/st2actions/scheduler/scheduler.py
  st2actions/tests/unit/test_queue_consumers.py
  st2common/bin/st2ctl
  st2tests/st2tests/mocks/liveaction.py
  tools/launchdev.sh
Labels: feature

#4393 Fix 'st2 key load' that errors when importing an empty file
  CHANGELOG.rst
  st2client/st2client/commands/keyvalue.py
  st2client/tests/unit/test_keyvalue.py
Labels: RFR, bug, component:st2client

#4392 Add initial list of StackStorm Adopters (part 1/2)
  ADOPTERS.md
  README.md
Labels: RFR, documentation, feature

#4409 Fix st2client PyPi install bug, add tests for it
  .gitignore
  .travis.yml
  Makefile
  st2client/in-requirements.txt
  st2client/requirements.txt
Labels: CLI, bug

#4415 Improve st2.conf migration for the new services
  CHANGELOG.rst
  conf/st2.conf.sample
  conf/st2.prod.conf
  st2actions/st2actions/notifier/config.py
  st2actions/st2actions/resultstracker/config.py
  st2actions/st2actions/scheduler/config.py
  st2actions/st2actions/workflows/config.py
  st2api/st2api/config.py
  st2auth/st2auth/config.py
  st2common/Makefile
  st2common/st2common/config.py
  st2exporter/st2exporter/config.py
  st2reactor/st2reactor/garbage_collector/config.py
  st2reactor/st2reactor/rules/config.py
  st2reactor/st2reactor/sensor/config.py
  st2reactor/st2reactor/timer/config.py
  st2stream/st2stream/config.py
Labels: RFR, enhancement

#4412 Add option to notify on orquesta task completion
  CHANGELOG.rst
  contrib/runners/orquesta_runner/orquesta_runner/orquesta_runner.py
  contrib/runners/orquesta_runner/orquesta_runner/runner.yaml
  contrib/runners/orquesta_runner/tests/unit/test_notify.py
  st2common/st2common/exceptions/workflow.py
  st2common/st2common/models/db/workflow.py
  st2common/st2common/services/workflows.py
  st2tests/st2tests/fixtures/packs/orquesta_tests/actions/notify.yaml
Labels: workflows: orquesta
