Repository StackStorm/st2, pull requests merged in 2018-09, with the labels that each got.

#4323 Improve orquesta workflow metrics
  st2actions/st2actions/workflows/workflows.py
Labels: instrumentation, metrics, visibility

#4325 Don't throw on action run if pack config file is empty (aka contains no values)
  CHANGELOG.rst
  st2common/st2common/models/db/pack.py
  st2common/st2common/util/config_loader.py
  st2common/tests/unit/test_config_loader.py
Labels: bug

#4331 Optimize performance of POST /v1/executions API endpoint
  CHANGELOG.rst
  fixed-requirements.txt
  requirements.txt
  st2actions/tests/unit/test_runner_container.py
  st2api/st2api/controllers/v1/actionexecutions.py
  st2api/st2api/controllers/v1/auth.py
  st2api/st2api/controllers/v1/keyvalue.py
  st2api/tests/unit/controllers/v1/test_executions.py
  st2api/tests/unit/controllers/v1/test_triggerinstances.py
  st2client/st2client/models/keyvalue.py
  st2common/in-requirements.txt
  st2common/requirements.txt
  st2common/st2common/models/api/base.py
  st2common/st2common/models/db/__init__.py
  st2common/st2common/persistence/auth.py
  st2common/st2common/persistence/base.py
  st2common/st2common/persistence/keyvalue.py
  st2common/st2common/services/action.py
  st2common/st2common/services/executions.py
  st2common/st2common/util/action_db.py
  st2common/st2common/util/isotime.py
  st2common/st2common/util/mongoescape.py
  st2common/st2common/util/schema/__init__.py
  st2common/st2common/util/ujson.py
  st2common/tests/unit/test_logger.py
  st2common/tests/unit/test_misc_utils.py
Labels: API, performance

#4328 "st2 execution tail" CLI command improvements
  CHANGELOG.rst
  st2client/st2client/commands/action.py
  st2client/tests/unit/test_execution_tail_command.py
Labels: CLI

#4327 Update action entry point API controller to return correct Content-Type response header
  CHANGELOG.rst
  st2api/st2api/controllers/v1/action_views.py
  st2api/tests/unit/controllers/v1/test_action_views.py
  st2common/st2common/router.py
Labels: API

#4335 NGINX: Use 308 redirect rather than 301
  CHANGELOG.rst
  conf/nginx/st2.conf
Labels: enhancement

#4337 Various v2.9.0 changes
  CHANGELOG.rst
  contrib/runners/action_chain_runner/action_chain_runner/action_chain_runner.py
  contrib/runners/orquesta_runner/orquesta_runner/orquesta_runner.py
  st2api/st2api/app.py
  st2api/st2api/controllers/v1/action_views.py
  st2api/st2api/controllers/v1/actionexecutions.py
  st2auth/st2auth/app.py
  st2common/st2common/middleware/instrumentation.py
  st2common/st2common/models/db/execution.py
  st2common/st2common/models/utils/action_param_utils.py
  st2common/st2common/openapi.yaml
  st2common/st2common/openapi.yaml.j2
  st2common/st2common/util/secrets.py
  st2stream/st2stream/app.py
Labels: API, performance

#4342 Speed up pack action registration through the /v1/packs/register API endpoint
  CHANGELOG.rst
  st2actions/tests/unit/test_actions_registrar.py
  st2api/st2api/controllers/v1/packs.py
  st2common/st2common/bootstrap/actionsregistrar.py
  st2common/st2common/bootstrap/base.py
  st2common/st2common/bootstrap/configsregistrar.py
  st2common/st2common/validators/api/action.py
Labels: API, performance

#4350 Fix typo in test output schema function
  contrib/runners/orquesta_runner/tests/unit/test_output_schema.py
  contrib/runners/python_runner/tests/unit/test_output_schema.py
Labels: RFR
