Repository StackStorm/st2, pull requests merged in 2019-02, with the labels that each got.

#4528 Fix "cryptography_symmetric_encrypt" function and make sure it handles unicode values correctly
  CHANGELOG.rst
  st2common/st2common/util/crypto.py
  st2common/tests/unit/test_crypto_utils.py
Labels: cryptography, python3

#4526 Allow user to pass --cpu-poll-interval command line argument to submit metrics to statsd script
  tools/submit-per-service-metrics-to-statsd
Labels: metrics

#4531 Fix a bug with "{{ config_text.foo }}" not working for executions scheduled via Orquesta workflow
  contrib/runners/orquesta_runner/orquesta_runner/orquesta_runner.py
  contrib/runners/orquesta_runner/tests/unit/test_basic.py
  contrib/runners/orquesta_runner/tests/unit/test_context.py
  st2common/st2common/services/action.py
  st2common/st2common/services/workflows.py
  st2common/st2common/util/config_loader.py
  st2tests/st2tests/fixtures/packs/orquesta_tests/actions/config-context-action.yaml
  st2tests/st2tests/fixtures/packs/orquesta_tests/actions/config-context.yaml
  st2tests/st2tests/fixtures/packs/orquesta_tests/actions/workflows/config-context.yaml
  st2tests/st2tests/fixtures/packs/orquesta_tests/config.schema.yaml
Labels: bug, workflows: orquesta

#4538 Don't include log messages with log level "AUDIT" in regular service log file
  CHANGELOG.rst
  st2common/st2common/log.py
  st2common/st2common/service_setup.py
  st2common/tests/integration/test_service_setup_log_level_filtering.py
  st2tests/st2tests/fixtures/conf/logging.api.audit.conf
  st2tests/st2tests/fixtures/conf/logging.api.debug.conf
  st2tests/st2tests/fixtures/conf/logging.api.info.conf
  st2tests/st2tests/fixtures/conf/st2.tests.api.audit_log_level.conf
  st2tests/st2tests/fixtures/conf/st2.tests.api.debug_log_level.conf
  st2tests/st2tests/fixtures/conf/st2.tests.api.info_log_level.conf
  st2tests/st2tests/fixtures/conf/st2.tests.api.system_debug_true.conf
  st2tests/st2tests/fixtures/conf/st2.tests.conf
Labels: bug, logging

#4537 Move lock for concurrency policies into scheduler
  CHANGELOG.rst
  st2actions/st2actions/policies/concurrency.py
  st2actions/st2actions/policies/concurrency_by_attr.py
  st2actions/st2actions/scheduler/handler.py
  st2actions/tests/unit/policies/test_concurrency.py
  st2actions/tests/unit/policies/test_concurrency_by_attr.py
  st2common/st2common/constants/policy.py
  st2common/st2common/policies/base.py
  st2common/st2common/services/coordination.py
  st2common/st2common/services/policies.py
  st2common/tests/unit/services/test_policy.py
Labels: policies, race, scheduler

#4530 Update submit metrics script to also include mistral processes
  tools/submit-per-service-metrics-to-statsd
Labels: metrics

#4540 Fix accidental regression in pylint Makefile check
  Makefile
Labels: lint checkers, pylint

#4533 Fix a bug with "serialize_positional_argument" not correctly handling unicode values and fix unicode support in core.sendmail action
  .travis.yml
  CHANGELOG.rst
  contrib/core/actions/send_mail/send_mail
  contrib/core/actions/sendmail.yaml
  contrib/core/requirements-tests.txt
  contrib/core/tests/test_action_sendmail.py
  st2common/st2common/util/action_db.py
  st2common/tests/unit/test_action_db_utils.py
Labels: python3, unicode

#4542 Fix CLI 'st2 apikey load' idempotence and API '/api/v1/apikeys' not honoring 'ID' for the new record creation
  CHANGELOG.rst
  st2api/tests/unit/controllers/v1/test_auth_api_keys.py
  st2common/st2common/models/api/auth.py
  st2tests/st2tests/fixtures/generic/apikeys/apikey1.yaml
  st2tests/st2tests/fixtures/generic/apikeys/apikey2.yaml
Labels: API, CLI, RFR, bug, regression

#4536 Add some metric instrumentation to the notifer service code
  CHANGELOG.rst
  st2actions/st2actions/notifier/notifier.py
Labels: metrics

#4557 Always ignore kombu library "heartbeat_tick" debug log messages
  CHANGELOG.rst
  st2common/st2common/logging/misc.py
  st2common/st2common/service_setup.py
  st2common/tests/integration/test_service_setup_log_level_filtering.py
  st2tests/st2tests/fixtures/conf/st2.tests.api.system_debug_true_logging_debug.conf
Labels: logging
