Repository StackStorm/st2, pull requests merged in 2019-09, with the labels that each got.

#4785 Add user field to re_run method
  CHANGELOG.rst
  st2client/st2client/models/core.py
  st2client/tests/unit/test_client_executions.py
Labels: CLI, enhancement, size/XS

#4790 Ensure that the coverage module is installed if coverage is enabled
  st2common/bin/st2-run-pack-tests
Labels: complexity:easy, infrastructure: ci/cd, packs, size/S, tests

#4769 Pack dependency management
  CHANGELOG.rst
  contrib/core/actions/error.yaml
  contrib/hello_st2/pack.yaml
  contrib/packs/actions/delete.yaml
  contrib/packs/actions/download.yaml
  contrib/packs/actions/get_pack_dependencies.yaml
  contrib/packs/actions/install.meta.yaml
  contrib/packs/actions/pack_mgmt/delete.py
  contrib/packs/actions/pack_mgmt/download.py
  contrib/packs/actions/pack_mgmt/get_pack_dependencies.py
  contrib/packs/actions/pack_mgmt/register.py
  contrib/packs/actions/pack_mgmt/virtualenv_setup_prerun.py
  contrib/packs/actions/virtualenv_prerun.yaml
  contrib/packs/actions/workflows/install.yaml
  contrib/packs/pack.yaml
  contrib/packs/tests/test_action_download.py
  contrib/packs/tests/test_get_pack_dependencies.py
  contrib/packs/tests/test_virtualenv_setup_prerun.py
  st2api/st2api/controllers/v1/packs.py
  st2api/tests/unit/controllers/v1/test_packs.py
  st2client/st2client/commands/pack.py
  st2client/st2client/models/core.py
  st2common/st2common/openapi.yaml
  st2common/st2common/openapi.yaml.j2
  st2common/st2common/util/pack_management.py
Labels: feature, packs, size/XL, workflows: orquesta
