Repository StackStorm/st2, pull requests merged in 2019-03, with the labels that each got.

#4520 Add config for stale bot
  .github/stale.yml
Labels: github

#4591 Fix regression with generic action notify trigger in notifier service
  CHANGELOG.rst
  st2actions/st2actions/notifier/notifier.py
  st2actions/tests/unit/test_notifier.py
Labels: bug

#4592 Make sure we don't log sensitive query params in the st2api log file
  CHANGELOG.rst
  st2common/st2common/middleware/logging.py
  st2common/tests/unit/test_logging_middleware.py
Labels: bug, security

#4596 Fix default config file location for some services
  st2actions/st2actions/config.py
  st2actions/st2actions/scheduler/config.py
  st2actions/st2actions/workflows/config.py
Labels: bug

#4597 Treat any statsd metric driver related errors as non-fatal (just log the errors)
  CHANGELOG.rst
  st2common/st2common/metrics/drivers/statsd_driver.py
  st2common/st2common/util/misc.py
  st2common/tests/unit/test_metrics.py
Labels: bug, instrumentation, metrics

#4547 Added ability to pass in encrypted key/values into the CLI and API
  CHANGELOG.rst
  st2api/st2api/controllers/v1/keyvalue.py
  st2api/tests/unit/controllers/v1/test_kvps.py
  st2client/st2client/commands/keyvalue.py
  st2client/tests/unit/test_keyvalue.py
  st2common/st2common/models/api/keyvalue.py
  st2common/st2common/openapi.yaml
  st2common/st2common/openapi.yaml.j2
Labels: API, CLI, RFR, feature

#4497 Added include_attributes and exclude_attributes to GET /api/v1/executions/{id}
  CHANGELOG.rst
  st2api/st2api/controllers/resource.py
  st2api/st2api/controllers/v1/actionexecutions.py
  st2api/tests/unit/controllers/v1/test_executions.py
  st2client/st2client/commands/action.py
  st2client/st2client/commands/resource.py
  st2common/st2common/openapi.yaml
  st2common/st2common/openapi.yaml.j2
  st2common/st2common/router.py
Labels: API, enhancement

#4603 Remove Cache-Control header change from PR 4587
  CHANGELOG.rst
  st2api/st2api/app.py
  st2api/tests/unit/controllers/v1/test_base.py
  st2common/st2common/constants/api.py
  st2common/st2common/middleware/cache.py
Labels: API

#4607 Temporary disable service registry service registration to work around issue in stackstorm-ha
  conf/st2.conf.sample
  st2common/st2common/config.py
  st2common/st2common/service_setup.py
Labels: bug

#4609 Add chat context to chatops
  contrib/chatops/actions/post_message.yaml
  contrib/chatops/actions/post_result.yaml
  contrib/chatops/actions/workflows/post_result.yaml
  contrib/chatops/rules/notify_hubot.yaml
  st2api/st2api/controllers/v1/aliasexecution.py
  st2common/st2common/models/api/action.py
Labels: chatops
