Repository StackStorm/st2, pull requests merged in 2022-08, with the labels that each got.

#5588 Remove nmaludy from Senior Maintainers
  OWNERS.md
Labels: size/XS, TSC, no changelog

#5692 Move to ciso8601 for datetime
  CHANGELOG.rst
  fixed-requirements.txt
  requirements.txt
  st2common/in-requirements.txt
  st2common/requirements.txt
  st2common/st2common/util/date.py
Labels: external dependency, python3, size/S

#5689 Adjust monkey_patching to work under pytest
  CHANGELOG.rst
  conftest.py
  st2api/tests/unit/controllers/v1/test_action_views.py
  st2api/tests/unit/controllers/v1/test_executions_auth.py
  st2api/tests/unit/controllers/v1/test_rule_views.py
  st2api/tests/unit/controllers/v1/test_runnertypes.py
  st2api/tests/unit/controllers/v1/test_traces.py
  st2api/tests/unit/controllers/v1/test_triggertypes.py
  st2auth/tests/unit/controllers/v1/test_token.py
  st2common/st2common/models/db/__init__.py
  st2common/st2common/util/monkey_patch.py
  st2common/tests/unit/test_action_param_utils.py
  st2common/tests/unit/test_db_base.py
  st2common/tests/unit/test_db_fields.py
  st2common/tests/unit/test_param_utils.py
  st2common/tests/unit/test_purge_executions.py
  st2common/tests/unit/test_purge_trigger_instances.py
  st2common/tests/unit/test_reference.py
  st2common/tests/unit/test_runners_utils.py
  st2common/tests/unit/test_tags.py
  st2reactor/tests/unit/test_enforce.py
  st2reactor/tests/unit/test_rule_engine.py
Labels: refactor, tests, size/L

#5690 Fix running st2client unit tests under pytest
  st2client/tests/unit/test_formatters.py
Labels: refactor, tests, size/M, no changelog

#5691 Make DBTestCase compatible with pytest
  st2tests/st2tests/base.py
Labels: refactor, tests, size/S, no changelog

#5699 Use python imports to identify fixtures (part 1)
  CHANGELOG.rst
  contrib/packs/tests/test_action_unload.py
  st2actions/tests/unit/test_output_schema.py
  st2api/tests/unit/controllers/v1/test_actions.py
  st2api/tests/unit/controllers/v1/test_packs.py
  st2common/tests/integration/test_register_content_script.py
  st2common/tests/unit/test_aliasesregistrar.py
  st2common/tests/unit/test_configs_registrar.py
  st2common/tests/unit/test_content_utils.py
  st2common/tests/unit/test_policies_registrar.py
  st2common/tests/unit/test_resource_registrar.py
  st2common/tests/unit/test_triggers_registrar.py
  st2common/tests/unit/test_virtualenvs.py
  st2tests/st2tests/fixtures/packs/dummy_pack_1/fixture.py
  st2tests/st2tests/fixtures/packs/dummy_pack_10/__init__.py
  st2tests/st2tests/fixtures/packs/dummy_pack_10/fixture.py
  st2tests/st2tests/fixturesloader.py
Labels: enhancement, tests, size/L, maintenance

#5705 Use python imports to identify fixtures (part 5/6)
  CHANGELOG.rst
  contrib/packs/tests/__init__.py
  contrib/packs/tests/fixtures/__init__.py
  contrib/packs/tests/test_action_download.py
  st2common/tests/fixtures/__init__.py
  st2common/tests/fixtures/local_runner/__init__.py
  st2common/tests/fixtures/local_runner/fixture.py
  st2common/tests/integration/log_unicode_data.py
  st2common/tests/integration/test_rabbitmq_ssl_listener.py
  st2common/tests/integration/test_register_content_script.py
  st2common/tests/integration/test_service_setup_log_level_filtering.py
  st2common/tests/unit/test_crypto_utils.py
  st2common/tests/unit/test_shell_action_system_model.py
  st2common/tests/unit/test_spec_loader.py
  st2tests/st2tests/fixtures/conf/__init__.py
  st2tests/st2tests/fixtures/conf/fixture.py
  st2tests/st2tests/fixtures/keyczar_keys/__init__.py
  st2tests/st2tests/fixtures/keyczar_keys/fixture.py
  st2tests/st2tests/fixtures/packs/runners/fixture.py
  st2tests/st2tests/fixtures/packs/runners/test_async_runner/__init__.py
  st2tests/st2tests/fixtures/packs/runners/test_polling_async_runner/__init__.py
  st2tests/st2tests/fixtures/ssl_certs/__init__.py
  st2tests/st2tests/fixtures/ssl_certs/fixture.py
Labels: enhancement, refactor, tests, size/L, maintenance, pantsbuild

#5706 Use python imports to identify fixtures (part 6/6)
  CHANGELOG.rst
  contrib/runners/winrm_runner/tests/unit/fixtures/__init__.py
  contrib/runners/winrm_runner/tests/unit/test_winrm_ps_script_runner.py
  st2reactor/tests/fixtures/__init__.py
  st2reactor/tests/fixtures/fixture/__init__.py
  st2reactor/tests/fixtures/packs/__init__.py
  st2reactor/tests/fixtures/packs/pack_with_rules/__init__.py
  st2reactor/tests/fixtures/packs/pack_with_rules/fixture.py
  st2reactor/tests/fixtures/packs/pack_with_sensor/__init__.py
  st2reactor/tests/fixtures/packs/pack_with_sensor/fixture.py
  st2reactor/tests/unit/test_sensor_and_rule_registration.py
  st2reactor/tests/unit/test_tester.py
Labels: enhancement, refactor, tests, size/L, maintenance, pantsbuild

#5708 Refactor `st2-generate-schemas` to be importable
  CHANGELOG.rst
  contrib/schemas/sensor.json
  st2common/bin/st2-generate-schemas
  st2common/st2common/cmd/generate_schemas.py
Labels: enhancement, refactor, size/L, maintenance, pantsbuild

#5709 Fix and reenable prance-based openapi spec validation
  CHANGELOG.rst
  st2common/st2common/cmd/validate_api_spec.py
  st2common/st2common/models/api/pack.py
  st2common/st2common/openapi.yaml
  st2common/st2common/openapi.yaml.j2
Labels: API, size/M, bug fix, pantsbuild

#5710 Fix and consolidate generation of st2.conf.sample
  CHANGELOG.rst
  Makefile
  conf/st2.conf.sample
  tools/config_gen.py
Labels: refactor, size/S, bug fix, pantsbuild

#5677 Fixed a bug where key value pair was not returning data correctly when get_by_name function is called.
  CHANGELOG.rst
  st2api/st2api/controllers/v1/keyvalue.py
  st2client/st2client/client.py
  st2client/st2client/models/core.py
  st2client/tests/unit/test_models.py
Labels: size/M

#5707 make mongo tests safer to run in parallel
  st2common/tests/unit/test_db.py
  st2tests/st2tests/config.py
Labels: enhancement, tests, database, size/XS, no changelog, pantsbuild
