Repository StackStorm/st2, pull requests merged in 2022-03, with the labels that each got.

#5536 Deserialize payload to str when content type is www-form-urlencoded
  CHANGELOG.rst
  st2api/tests/unit/controllers/v1/test_webhooks.py
  st2auth/tests/unit/controllers/v1/test_sso.py
  st2common/st2common/router.py
Labels: size/S, bug fix

#5506 Add support for overridding whether resources are enabled
  CHANGELOG.rst
  st2actions/tests/unit/test_actions_registrar.py
  st2api/st2api/controllers/v1/packs.py
  st2common/st2common/bootstrap/actionsregistrar.py
  st2common/st2common/bootstrap/aliasesregistrar.py
  st2common/st2common/bootstrap/base.py
  st2common/st2common/bootstrap/rulesregistrar.py
  st2common/st2common/bootstrap/sensorsregistrar.py
  st2common/st2common/constants/pack.py
  st2common/st2common/content/bootstrap.py
  st2common/st2common/content/loader.py
  st2common/st2common/util/pack.py
  st2common/st2common/util/virtualenvs.py
  st2common/tests/resources/overrides/_global.yaml
  st2common/tests/resources/overrides/overpack1.yaml
  st2common/tests/resources/overrides/overpack2.yaml
  st2common/tests/resources/overrides/overpack3.yaml
  st2common/tests/resources/overrides/overpack4.yaml
  st2common/tests/unit/test_aliasesregistrar.py
  st2common/tests/unit/test_content_loader.py
  st2common/tests/unit/test_util_pack.py
  st2common/tests/unit/test_virtualenvs.py
  st2tests/st2tests/action_aliases.py
Labels: enhancement, feature, size/XL

#5248 Add support for setting SameSite and Secure attribute for auth cookie we set
  CHANGELOG.rst
  conf/st2.conf.sample
  st2api/st2api/app.py
  st2api/st2api/cmd/api.py
  st2api/st2api/validation.py
  st2api/tests/unit/controllers/v1/test_auth.py
  st2api/tests/unit/test_validation_utils.py
  st2common/st2common/config.py
  st2common/st2common/router.py
  st2tests/st2tests/config.py
  tools/config_gen.py
Labels: security, size/L, service: api

#5143 Add new "st2 action-alias execute-and-format" command for easier ChatOps alias development and testing
  CHANGELOG.rst
  st2client/st2client/commands/action.py
  st2client/st2client/commands/action_alias.py
  st2client/tests/unit/test_action_alias.py
Labels: CLI, chatops, component:st2client, size/L, status:needs changes

#5152 Add support to the client (CLI, http client) for sending additional basic auth credentials (aka MFA)
  CHANGELOG.rst
  conf/st2rc.sample.ini
  st2client/st2client/base.py
  st2client/st2client/client.py
  st2client/st2client/config_parser.py
  st2client/st2client/models/core.py
  st2client/st2client/shell.py
  st2client/st2client/utils/httpclient.py
  st2client/tests/fixtures/st2rc.full.ini
  st2client/tests/unit/test_client.py
  st2client/tests/unit/test_config_parser.py
Labels: CLI, component:st2client, size/L

#5602 Address review comments from #5596
  CHANGELOG.rst
  conf/st2.conf.sample
  st2common/bin/st2-purge-rule-enforcements
  st2common/bin/st2-purge-traces
  st2common/setup.py
  st2common/st2common/cmd/purge_rule_enforcements.py
  st2common/st2common/cmd/purge_traces.py
  st2common/st2common/garbage_collection/rule_enforcement.py
  st2common/st2common/garbage_collection/trace.py
  st2common/tests/unit/test_purge_rule_enforcement.py
  st2common/tests/unit/test_purge_trace.py
  st2reactor/st2reactor/garbage_collector/base.py
  st2reactor/st2reactor/garbage_collector/config.py
  st2tests/st2tests/config.py
Labels: size/L
