Repository StackStorm/st2, pull requests merged in 2024-10, with the labels that each got.

#6208 Enable completely offline st2-rule-tester
  CHANGELOG.rst
  st2reactor/st2reactor/cmd/rule_tester.py
Labels: size/S

#6258 Pants: Add BUILD metadata to handle git submodule
  .github/workflows/test.yaml
  BUILD
  BUILD.environment
  CHANGELOG.rst
  contrib/runners/python_runner/tests/unit/BUILD
  pants.toml
  st2tests/st2tests/fixtures/packs/BUILD
Labels: tests, size/M, pantsbuild

#6259 Adjust test to use `runner.yaml` file over the symlink
  CHANGELOG.rst
  contrib/runners/python_runner/tests/unit/test_output_schema.py
Labels: tests, runners, size/XS, pantsbuild

#6038 Open pywinrm shell sessions with UTF-8 codepage
  CHANGELOG.rst
  contrib/runners/winrm_runner/tests/unit/test_winrm_base.py
  contrib/runners/winrm_runner/winrm_runner/winrm_base.py
Labels: size/M

#6261 Remove duplicate test fixture files
  st2actions/tests/unit/test_async_runner.py
  st2actions/tests/unit/test_polling_async_runner.py
Labels: tests, size/L, no changelog

#6265 Bump dnspython to 2.6.1 to fix pack CI failure on py3.10/py3.11
  CHANGELOG.rst
  Makefile
  fixed-requirements.txt
  lockfiles/st2-constraints.txt
  lockfiles/st2.lock
  requirements.txt
  st2client/requirements.txt
  st2common/requirements.txt
  st2tests/requirements.txt
Labels: size/XL

#6260 Pants plugins: pack_metadata - python imports rules
  CHANGELOG.rst
  contrib/chatops/BUILD
  contrib/core/BUILD
  contrib/debug/BUILD
  contrib/default/BUILD
  contrib/examples/BUILD
  contrib/examples/actions/pythonactions/isprime.py
  contrib/hello_st2/BUILD
  contrib/linux/BUILD
  contrib/packs/BUILD
  pants-plugins/pack_metadata/python_rules/BUILD
  pants-plugins/pack_metadata/python_rules/__init__.py
  pants-plugins/pack_metadata/python_rules/conftest.py
  pants-plugins/pack_metadata/python_rules/python_module_mapper.py
  pants-plugins/pack_metadata/python_rules/python_module_mapper_test.py
  pants-plugins/pack_metadata/python_rules/python_pack_content.py
  pants-plugins/pack_metadata/python_rules/python_pack_content_test.py
  pants-plugins/pack_metadata/python_rules/python_path_rules.py
  pants-plugins/pack_metadata/python_rules/python_path_rules_test.py
  pants-plugins/pack_metadata/register.py
  pants-plugins/pack_metadata/target_types.py
  pants-plugins/uses_services/register.py
  pants.toml
Labels: enhancement, python3, size/XXL, packs, pantsbuild

#6268 Bump deps (auth, orquesta, lint/test, etc) to support newer python
  BUILD.tools
  CHANGELOG.rst
  contrib/runners/orquesta_runner/in-requirements.txt
  contrib/runners/orquesta_runner/requirements.txt
  fixed-requirements.txt
  lockfiles/bandit.lock
  lockfiles/flake8.lock
  lockfiles/pytest.lock
  lockfiles/st2-constraints.txt
  lockfiles/st2.lock
  pants.toml
  requirements-pants.txt
  requirements.txt
  st2actions/in-requirements.txt
  st2actions/requirements.txt
  st2auth/in-requirements.txt
  st2auth/requirements.txt
  st2client/requirements.txt
  st2common/in-requirements.txt
  st2common/requirements.txt
  st2common/st2common/runners/paramiko_ssh.py
  test-requirements.txt
Labels: external dependency, python3, size/XXL, infrastructure: ci/cd, maintenance
