Repository StackStorm/st2, pull requests merged in 2025-02, with the labels that each got.

#6298 pin urllib3 to version in lockfiles/st2.lock
  fixed-requirements.txt
  requirements.txt
  st2actions/in-requirements.txt
  st2actions/requirements.txt
  st2client/in-requirements.txt
  st2client/requirements.txt
  st2common/in-requirements.txt
  st2common/requirements.txt
Labels: size/S, infrastructure: ci/cd, maintenance, no changelog

#6296 Remove code from all dist_utils.py
  CHANGELOG.rst
  contrib/runners/action_chain_runner/dist_utils.py
  contrib/runners/announcement_runner/dist_utils.py
  contrib/runners/http_runner/dist_utils.py
  contrib/runners/inquirer_runner/dist_utils.py
  contrib/runners/local_runner/dist_utils.py
  contrib/runners/noop_runner/dist_utils.py
  contrib/runners/orquesta_runner/dist_utils.py
  contrib/runners/python_runner/dist_utils.py
  contrib/runners/remote_runner/dist_utils.py
  contrib/runners/winrm_runner/dist_utils.py
  scripts/dist_utils.py
  st2actions/dist_utils.py
  st2api/dist_utils.py
  st2auth/dist_utils.py
  st2client/dist_utils.py
  st2common/dist_utils.py
  st2reactor/dist_utils.py
  st2stream/dist_utils.py
  st2tests/dist_utils.py
Labels: size/M

#6301 Switch from deprecated u2004 to u2204 image for github actions
  .github/actions/apt-packages/action.yaml
  .github/workflows/checks.yaml
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
  .github/workflows/microbenchmarks.yaml
  .github/workflows/orquesta-integration-tests.yaml
  .github/workflows/pants.yaml
  .github/workflows/test.yaml
  CHANGELOG.rst
  Makefile
  contrib/packs/tests/test_action_download.py
  fixed-requirements.txt
  lockfiles/bandit.lock
  lockfiles/black.lock
  lockfiles/st2.lock
  lockfiles/twine.lock
  requirements.txt
  scripts/github/install-mongosh.sh
  st2actions/requirements.txt
  st2api/requirements.txt
  st2auth/requirements.txt
  st2client/requirements.txt
  st2common/requirements.txt
  st2common/st2common/models/db/trace.py
  st2common/st2common/models/db/trigger.py
  st2common/st2common/util/crypto.py
  st2common/st2common/util/pack_management.py
  st2common/tests/unit/test_db_model_uids.py
  st2reactor/requirements.txt
  st2reactor/st2reactor/container/hash_partitioner.py
  st2stream/requirements.txt
  test-requirements.txt
  tools/launchdev.sh
Labels: size/XXL

#6303 Packaging: Cherry-pick systemd files from st2-packages
  CHANGELOG.rst
  packaging/common/systemd/st2api-generator
  packaging/common/systemd/st2auth-generator
  packaging/common/systemd/st2stream-generator
  packaging/deb/systemd/st2actionrunner.service
  packaging/deb/systemd/st2actionrunner@.service
  packaging/deb/systemd/st2api.service
  packaging/deb/systemd/st2auth.service
  packaging/deb/systemd/st2garbagecollector.service
  packaging/deb/systemd/st2notifier.service
  packaging/deb/systemd/st2rulesengine.service
  packaging/deb/systemd/st2scheduler.service
  packaging/deb/systemd/st2sensorcontainer.service
  packaging/deb/systemd/st2stream.service
  packaging/deb/systemd/st2timersengine.service
  packaging/deb/systemd/st2workflowengine.service
  packaging/rpm/systemd/st2actionrunner.service
  packaging/rpm/systemd/st2actionrunner@.service
  packaging/rpm/systemd/st2api.service
  packaging/rpm/systemd/st2auth.service
  packaging/rpm/systemd/st2garbagecollector.service
  packaging/rpm/systemd/st2notifier.service
  packaging/rpm/systemd/st2rulesengine.service
  packaging/rpm/systemd/st2scheduler.service
  packaging/rpm/systemd/st2sensorcontainer.service
  packaging/rpm/systemd/st2stream.service
  packaging/rpm/systemd/st2timersengine.service
  packaging/rpm/systemd/st2workflowengine.service
Labels: st2-packages, size/XL, maintenance, pantsbuild

#6302 Packaging: Cherry-pick changes to runners.sh from st2-packages
  CHANGELOG.rst
  st2actions/bin/runners.sh
Labels: st2-packages, size/M, service: action runner, maintenance, pantsbuild

#6306 Copy dependency on st2-auth-backend-pam from st2-packages.git
  BUILD
  CHANGELOG.rst
  conf/st2.conf.sample
  fixed-requirements.txt
  lockfiles/st2.lock
  requirements-pants.txt
  requirements.txt
  st2auth/in-requirements.txt
  st2auth/requirements.txt
  st2common/requirements.txt
  st2tests/requirements.txt
  test-requirements.txt
Labels: external dependency, component:st2auth, size/L, pantsbuild
